.container{
    color: white;
    background: url("https://source.unsplash.com/random") no-repeat center / cover;
}
.grid{
    padding: 48px 0;
}

.container h2{
    margin: 0;
    font-size: 48px;
    font-weight: 400;
}

.container p{
    font-size: 32px;
    font-weight: 400;
}